.history-btn {
    width: 100%;
    margin: 5px;
}

#search-history {
    padding: 0 5px 0 0;
}

.row {
    background-color: #ADD8E6;
}

#today-row {
    min-height: 250px;
}

#forecast-row {
    min-height: 250px;
}

h4 {
    margin-top: 10px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1440px;
    }
}

#five-day-forecast {
    margin: 0 5px 10px 0;
}

.forecast {
    margin: 0 2px 0 2px;
    border: 1px solid;
    border-radius: 5px;
}

.uv-index {
    padding: 5px;
    max-width: 150px;
    border-radius: 8px;
}

.low {
    background-color: #2E8B57;
}

.moderate {
    background-color: #FF8C00;
}

.high {
    background-color: #B22222;
}